<div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">
        <!-- <span class="img-logo" *ngIf="basesignin.subtitle.logo.is_allow == 1">
            <img src="{{basesignin.subtitle.logo.web}}" alt="AOL">
        </span> -->

        <button (click)="close()" class="close-btn">
            <img src="../../../../assets/svgs/Vector.svg" alt="">
        </button>
        <div>
            <form action="">

           
            <p  style="color: white;
            font-size: 15px;">Helpdesk</p>
            <ul class="subtitleContent">
                <li>
                    hkjhk
                </li>
                <li>
                    hkjhk
                </li>
                <li>
                    hkjhk
                </li>
                <li>
                    hkjhk
                </li>
                
            </ul>
            <div class="row">
                <div class="col-8">
                   <input type="text">
                </div>
                <div class="col-4">
                  <button>Send</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>