.posterCol {
    display: flex;
    align-items: center;
}

.popup {
    overflow: hidden;
}

.dropMenus {
    background-color: #2d2d2d;
    min-width: 5%;
    position: absolute;
    padding: 6px;
    // left: -50px !important;
}

// #speedLevel {
//     display: none;
// }

.speedLevel {
    position: absolute;
}

.poster {
    padding: 0 5% 5% 5%;
    display: grid;
    grid-template-columns: 250px auto;
    column-gap: 20px;
}

.posterImg img,
.posterImg2 img {
    width: 100%;
    border-radius: 10px;
}

.posterContent {
    align-self: end;
    padding-bottom: 4%;
}

.posterContent h3 {
    color: white;
}

.posterContent p {
    color: white;
}

// / ===================== /
.audioPlayer {
    color: white;
    font-family: "PoppinsRegular";
    // position: relative;
    // height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background: url("/assets/img/AOL_white.svg"), linear-gradient(0deg, #100E22, #100E22);
    background-repeat: no-repeat;
    background-position: center;
}

.thumbnail {
    padding-top: 7%;
}

.thumbnail img {
    width: 100%;
}

.thumbnail_icon {
    display: flex;
    justify-content: space-around;
}

.thumbnail_icon span {
    text-align: center;
}

.thumbnail_icon span .play {
    width: 100%;
}

.thumbnail_icon span .shuffle,
.thumbnail_icon span .repeat {
    width: 50%;
}

.shuffle {
    margin-top: -2px;
}

.playlist_detail h6 {
    color: rgba(255, 135, 49, 1);
    font-weight: 600;
}

.playlist_detail h4 {
    font-weight: 700;
}

.playlist_detail p {
    color: rgba(215, 215, 215, 1);
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.show-options {
    display: block;
  }
  
  .hide-options {
    display: none;
  }

.playlist_detail .totalSong {
    color: rgba(215, 215, 215, 1);
    font-size: 1rem;
}

.totalSong .countSong {
    margin-right: 10px;
}

.music_title {
    display: -webkit-inline-box;
}

.counting span {
    margin-right: 8px;
    vertical-align: sub;
}

.music_title p {
    color: rgba(215, 215, 215, 1);
    font-size: 0.9rem;
    margin-bottom: 5%;
}

.player .midSection {
    text-align: center;

}

.player-art {
    position: fixed !important;
    bottom: 0 !important;
    width: 100%;
    background: #120721;
}

.player .midSection div {
    position: relative;
}

.player .midSection div .ellips {
    width: 10%;
    cursor: pointer;
}

.player .midSection div .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
}

.player .endSection {
    text-align: end;
    display: flex;
    justify-content: end;
    height: 30px;
    gap: 10px;
}

.control-aol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.playImg {
    display: flex;
    justify-content: center;
    gap: 15px;
}



.songDis p {
    margin-bottom: 0;
    font-size: 20px;
}

.time_aol {
    font-size: 15px;
    font-weight: 600;
    font-family: "PoppinsRegular";
}

.time_aol-mobile {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-family: "PoppinsRegular";
}


.playBtn {
    width: 47px;
    cursor: pointer;
    display: none;
}

.pauseBtn {
    width: 47px;
    cursor: pointer;
}

.skipBack {
    width: 27px;
    cursor: pointer;
}

.unmuteIcon {
    width: 34px;
    display: none;
}

.endSection {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    align-items: center;
}

// #volume-slider {
//     accent-color: rgb(255, 135, 49,1);
//     -webkit-accent-color:rgb(255, 135, 49,1);
//     cursor: pointer;
// }

.volumeIcon {
    width: 34px;
    cursor: pointer;
}

.volumbar {
    // width: 25%;
    margin-right: 20px;
    margin-top: 2%;
}

.endSection .repeatBtn {
    width: 34px;
    cursor: pointer;
}

.endSection .shuffleBtn {
    width: 34px;
    cursor: pointer;
}

.endSection .fullScreen {
    width: 23px;
    cursor: pointer;
}

// .player_progress {
//     accent-color: rgba(255, 135, 49, 1);
// }

.hide {
    display: none;
}

// #seek {
//     width: 100%;
//     cursor: pointer;
//     accent-color: rgb(255, 135, 49,1);
//     -webkit-accent-color:rgb(255, 135, 49,1);
// }



#repeatEnd {
    display: none;
}

#shuffleEnd {
    display: none;
}

#exitfullscreen {
    display: none;
}

#exitfullscreen_mob {
    display: none;
}

#shuffleEnd_mob {
    display: none;
}

#repeatEnd_mob {
    display: none;
}

.single-player {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 30%;
    position: absolute;

}

// .aud-head {
//     font-family: "PoppinsRegular";
//     font-size: 24px;
//     font-weight: 600;
//     // line-height: 50px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #ffffff;
//     cursor: pointer;
// }

.aud-head {
    font-family: "PoppinsRegular";
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
}

.aud-par {
    font-family: "PoppinsRegular";
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.audio-img {
    padding: 20px;
    cursor: pointer;
}

.audio-img img {
    border-radius: 10px;
}

.audio-desp {
    margin-bottom: 70px;
}


.list-play-art {
    // position: absolute;
    bottom: 25%;
    margin-left: 60px;
    display: block;
}

.playlist-art {
    display: block;
    padding: 50px 10% 0px 10%;
}

.close-btn {
    position: absolute;
    left: 2%;
    z-index: 9;
    top: 4%;
    cursor: pointer;
}

.dot-img {
    width: 30px;
}

.minimise {
    width: 40px;

}

.cls-btn {
    width: 40px;
    cursor: pointer;
}

.mobile-icons {
    display: none;
}

.close-player-mobile {
    display: none;
}


@media screen and (max-width:992px) {

    #seek::-webkit-slider-thumb {
        width: 12px !important;
        height: 12px !important;
    }


    #seek {
        height: 4px !important;
    }


    #volume-slider::-webkit-slider-thumb {
        width: 12px !important;
        height: 12px !important;
    }

    #volume-slider{
        height: 4px !important;
    }



    .add-flex {
        width: max-content !important;
        gap: 8px !important;
        line-height: 24px !important;
        font-size: 12px !important;

    }

    .optionsAddPlaylist {
        right: 20px;
    }

    .playlist-art {
        padding: 20px;
    }

    #seek {
        height: 7px;
    }

    .audioPlayer {
        height: 100%;
    }

    .options ul {
        width: max-content;
    }

    .options ul li button {
        padding: 3px !important;
        font-size: 12px !important;
    }

    .options ul li {
        padding: 2px !important;
    }

    .playlist-aol-img img {
        width: 50% !important;
    }

    .options {
        transform: translate(-50%);
        margin-top: unset !important;
    }

    .mobile-time {
        display: block !important;
    }

    .close-btnns {
        display: none;
    }

    .close-player {
        display: flex;
        align-items: center;
    }

    .close-player-mobile {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        z-index: 9;
        // top: 20px;
        align-items: center;
        padding: 2px 10px;
    }

    .audio-img img {
        width: 50%;
        border-radius: 10px;
    }

    .player-art {
        padding-top: 20px;
        bottom: 0 !important;
    }

    .optionsAddPlaylist ul li div {
        font-size: 12px !important;
        padding: 0px 4px !important;
        line-height: 20px !important;
    }



    ol {
        padding-left: 0px;
    }



    .detail-playlist p {
        font-size: 12px !important;
        line-height: 16px !important;
        margin-bottom: 8px !important;

    }

    .detail-playlist {
        flex-wrap: nowrap;
    }

    .time {
        font-size: 12px !important;
        line-height: 10px !important;
    }

    .detail-playlist h1 {
        font-size: 12px !important;
        line-height: 16px !important;
        margin-bottom: 5px;
    }

    .playlist-heading {
        font-size: 12px !important;
        line-height: 16px !important;
        font-weight: 900 !important;
        justify-content: space-between;
        // line-height: 24px !important;
    }

    .playlist-desc {
        font-size: 12px !important;
        line-height: 16px !important;
    }

    .playlist-songs-times {
        font-size: 14px !important;
        line-height: 28px !important;
    }

    .mySlides-aol {
        width: 30%;
    }

    .playlist-aol-img {
        text-align: center;

    }

    .aol_like_dis {
        display: flex;
        justify-content: center;
        gap: 12px;
    }

    .single-player {
        display: flex;
        // flex-wrap: nowrap; 
        justify-content: center;
        align-items: center;
    }

    .mobile-screen {
        display: flex;
                justify-content: flex-end;
                gap: 12px;
                // position: absolute;
                // bottom: 15px;
                // right: 0;
    }

    .mob_icons {
        display: flex;
                justify-content: center;
                gap: 4px;
                // position: absolute;
                // bottom: 12px;
    }
    // .titlemain{
    //     display: none;
    // }



    .mobile-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .repeatBtn_mob {
        width: 25px;
    }

    .shuffleBtn_mob {
        width: 25px;
        // margin-right: 10px;
    }


    #shuffleEnd_mob {
        display: none;
    }

    // .mobile-screen{
    //     width: 30px;
    // }
    .fullScreen_mob {
        width: 20px;
    }

    .playImg {
        justify-content: space-between;
        align-items: center;
    }

    .list-play-art {
        margin: 0;
        bottom: 35% !important;
    }



    .endSection {
        gap: 5px;
        display: none;
    }

    // .close-btn {
    //     left: 4%;
    //     top: 5%;
    // }


    .aud-head {
        font-size: 18px;
    }

    .player-art {
        padding: 15px 10px 10px 10px;
        /* bottom: 15%; */
        position: absolute;
        /* top: 0; */
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        // background: #130822d9;
        background: rgb(19 7 34);

    }

    .skipBack {
        width: 20px;
    }

    .pauseBtn {
        width: 30px;
    }

    .playBtn {
        width: 30px;
    }

    .playImg {
        gap: 5px;
        display: none;
    }



    .volumeIcon {
        width: 25px;
    }

    .unmuteIcon {
        width: 28px;
    }

    .audioPlayer {
        object-fit: cover;
        background-size: 100% 100%;
    }

    .back-btn {
        width: 45px;
    }

    .audio-desp {
        margin-bottom: 0;
    }

    .audio-img {
        // width: 100%;
        // padding: 60px 60px 20px 60px;
        text-align: center;
    }

    .aud-head {
        font-size: 16px;
        // text-align: center;
        justify-content: center;
    }

    .audio-desp {
        padding: 10px;
    }

    .endSection img {
        width: 30px;
    }

    .control-aol {
        padding: 5px 15px;
    }

}

@media screen and (max-width:1366px) {

    .playlist-art {
        display: block;
        padding: 50px 6% 0px 6% !important;
    }

    .add-flex {
        font-size: 12px !important;
        gap: 8px !important;
        padding: 0px 4px !important;
    }
}

.options {
    border: 2px solid rgba(81, 76, 129, 1);
    // padding: 10px 0;
    background: linear-gradient(0deg, #100E22, #100E22),
        linear-gradient(0deg, #514C81, #514C81);
    position: absolute;
    margin-top: 0%;
    font-size: 16px;
    // left: 50%;
    // bottom: 62px;
}

.options ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

.options ul li button {
    border: none;
    color: darkgray;
    background-color: transparent;
    padding: 0 15px;
    font-size: 13px;
}

.add-flex {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 12px;
    font-family: "poppinsRegular" !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0px 10px;
}

.options ul li {
    padding: 6px 0;
}

.options ul li button span i {
    width: 20px;
    font-size: 16px;
}

.options ul li:hover button {
    color: white;
}

.options ul li:hover {
    background-color: rgba(81, 76, 129, 1);
}


.add-hover :hover {
    background-color: rgba(81, 76, 129, 1);
}

.add-hover :hover .fa {
    color: rgba(255, 123, 49, 1);
}



.dot-btn {
    cursor: pointer;
    padding: 10px;
}

.detail-playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    font-family: "PoppinsRegular" !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.three_dots {
    font-family: Lato;
    font-size: 24px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

ol {
    font-family: "PoppinsRegular";
    font-size: 16px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #BCBCBC;
    margin: 0;
}

.detail-playlist li {
    list-style: none;
    width: 100%;
}

.maintitleplayer {
    cursor: pointer;
}

.optionsAddPlaylist {
    // display: none;
    border: 2px solid rgba(81, 76, 129, 1);
    background: #232042;
    z-index: 9;
    position: absolute;
    top: 40px;
}

.optionsAddPlaylist ul {
    list-style-type: none;
    // margin-bottom: 0;
    margin: 0;
    padding: 0;
    width: max-content;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
}

.optionsAddPlaylist ul li div {
    border: none;
    color: darkgray;
    background-color: transparent;
    padding: 0 12px;
    font-family: 'PoppinsRegular';
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 8px;
}

// .optionsAddPlaylist ul li button span {
//     margin-right: 6px;
// }

.optionsAddPlaylist ul li:hover button {
    color: white;
}

.optionsAddPlaylist ul li:hover {
    background-color: rgba(81, 76, 129, 1);
}

.optionsAddPlaylist ul li:hover .fa {
    color: rgba(255, 123, 49, 1);
}


.playlist-icons img {
    cursor: pointer;
}

.detail-playlist p {
    font-family: "PoppinsRegular";
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #BCBCBC;
}

.playlist-songs-times {
    font-family: "PoppinsRegular";
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #EAEAEA;
}

.detail-playlist h1 {
    font-family: "PoppinsRegular";
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    overflow-wrap: anywhere;

}

.playlist-heading {

    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    // grid-column-gap: 0px;
    // grid-row-gap: 0px;
    font-family: "PoppinsRegular";
    font-size: 22px;
    font-weight: 600;
    // line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    cursor: pointer;
    gap: 40px;




}

.dots-play {
    grid-area: 1 / 2 / 2 / 3;
}

.des_play {
    text-wrap: wrap;
}

.playlist-desc {
    font-family: "PoppinsRegular";
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #D7D7D7;
}

.playlist-list {
    margin-top: 30px;
    height: calc(100vh - 300px);
    overflow: hidden;
    overflow-y: scroll;
}

.playlist-list::-webkit-scrollbar {
    display: none;
}

.detail-playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlists {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-icons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

// .titles-aol {
//     margin-left: 20px;
// }

.playlist-aol-img {
    cursor: pointer;
}

.playlist-aol-img img {
    width: 100%;
    border-radius: 10px;
}


.close-btn-2 {
    position: fixed;
    right: 2%;
    z-index: 9;
    top: 5%;
}

// @media screen and (max-width:1368px) {
//     .playlist-list {
//         height: 40vh;
//     }
// }



@media screen and (max-width:576px) {


    .aud-head {
        font-size: 13px !important;
    }

    .mob-width {
        width: 56%;
    }




    // .playlist-list {
    //     height: 30vh;
    //     // margin-top: 70px;
    // }

    .options {
        transform: translate(-50%);
        margin-top: unset !important;
        right: 0%;
    }

    .options ul li button {
        padding: 0 10px;
    }



    .single-player {
        flex-wrap: wrap;
    }

    .playlists {
        justify-content: unset;
        margin-top: 12px;
    }

    // .titles-aol {
    //     // margin-left: 20px;
    //     width: 70%;
    //     margin-top: -5px;
    // }
}

.rounded_player_img {
    width: 55px;
    height: 55px;
}

.song_title_1 {
    // display: none;
    align-items: center;
    gap: 12px;
}

.titlemain {
    margin: 0 !important;
    font-size: 11px;
}

.eye_head {
    display: flex;
    align-items: center;
    gap: 4px;
}

.head_like {
    display: flex;
    align-items: center;
}

.aol_like_dis {
    display: flex;
    margin-top: 12px;
    gap: 12px;
}



.like_count div {
    font-family: "PoppinsRegular";
    font-size: 14px;
    font-weight: 500;
    // line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    min-width: 20px;
    max-width: fit-content;
    height: 20px;

}

.see_count div {
    font-family: "PoppinsRegular";
    font-size: 14px;
    font-weight: 500;
    // line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    min-width: 20px;
    max-width: fit-content;
    height: 20px;
}


.mobile-time {
    display: none;
}



#seek {
    background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 40%, #fff 40%, #fff 100%);
    // border: solid 2px rgb(255, 135, 49,1);
    border-radius: 8px;
    height: 7px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    cursor: pointer;
}

#seek::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    background: rgb(255, 135, 49, 1);
}


#volume-slider {
    background: rgb(255, 135, 49, 1);
    // border: solid 2px rgb(255, 135, 49,1);
    border-radius: 8px;
    height: 6px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    cursor: pointer;
    width: 100%;
}

#volume-slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    background: rgb(255, 135, 49, 1);
}



.speed-mode {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.speedIcon {
    position: absolute;
    bottom: 64px;
    padding: 0;
    background: linear-gradient(0deg, #100E22, #100E22), linear-gradient(0deg, #514C81, #514C81);
    border: 2px solid rgb(81, 76, 129);
    width: 100px;
    display: none;
}

.speedIconMob {
    position: absolute;
    bottom: 64px;
    padding: 0;
    background: linear-gradient(0deg, #100E22, #100E22), linear-gradient(0deg, #514C81, #514C81);
    border: 2px solid rgb(81, 76, 129);
    width: 100px;
    display: none;
}



.speedIcon li {
    list-style: none;
    padding: 10px 20px;
    font-family: "PoppinsRegular";
    font-size: 15px;
    font-weight: 600;
    // line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}


.speedIconMob li {
    list-style: none;
    padding: 10px 20px;
    font-family: "PoppinsRegular";
    font-size: 15px;
    font-weight: 600;
    // line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}


.activeModespeed {
    background: rgb(255, 135, 49);
    color: #FFFFFF;
}

.activeModespeemobile {
    background: rgb(255, 135, 49);
    color: #FFFFFF;
}

.head-vol {
    display: flex;
    align-items: center;
    // gap: 10px;
    justify-content: space-between;
}

.main-vol {
    display: flex;
    align-items: center;
    gap: 5px;
}

#seek::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: rgb(255, 135, 49);
}