<!-- <div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">
        <div class="alt-login-img" *ngIf="baseJson.verify_parental.logo.is_allow == 1">
            <img src="{{baseJson.verify_parental.logo.web}}" alt="ALTBalaji" style="width: 65px;">
        </div>
        <button class="close-btn">
            <mat-icon (click)="close()">close</mat-icon>
        </button>


        <div class="parental-heading-1">
            <p *ngIf="baseJson.verify_parental.heading.is_allow == 1">
                {{baseJson.verify_parental.heading.text}}
            </p>
            <p style="color: #FF8787 !important;" *ngIf="show">{{incorrectPinMsg}}</p>
            <div>

                <form>

                    <ng-otp-input *ngIf="baseJson.verify_parental.pin_field.is_allow == 1" #ngOtpInput
                        [formCtrl]="otpInputCurrent" (onInputChange)="onOtpChange($event)"
                        [config]="config"></ng-otp-input>
                    <br><br>
                    <p class="resetPin" *ngIf="baseJson.verify_parental.reset_btn.is_allow == 1">
                        <a (click)="resetPin()"> {{baseJson.verify_parental.reset_btn.text}}</a>
                    </p>
                </form>

            </div>

        </div>


    </div>


</div> -->

<div class="newList">
    <!-- <form  [formGroup]="playlistForm" #playlistFormDir="ngForm" (ngSubmit)="createPlaylist()"> -->
    <div class="close-btn" (click)="close()">
    <img src="assets/svgs/Vector.svg" alt="closeButton"></div>
    <h3>{{'renameplaylist' |translate}}</h3>
    <input type="text" formControlName="playlist">
    <button>{{'update' |translate}}</button>
    <!-- </form> -->
</div>