<div class="alt-login-content">
    <div>
        <mat-icon class="tickIcon" aria-hidden="false" svgIcon="tick"></mat-icon>
        <span style="font-size:22px">
            <!-- Done, your email is verified -->
        {{'Email_Verified'|translate}}
        </span>
    </div>
    <br>
    <div class="createPassword">{{'Create_password'|translate}} :-</div>
    <div style="font: size 16px ;color:red;text-align: center;" *ngIf="invalidPassword">
        <!-- Password doesn't match -->
    {{'passwords_do_not_match'|translate}}
    </div>
    <form [formGroup]="emailLoginForm" #emailLoginFormDir="ngForm" (ngSubmit)="onSubmitEmailLogin()">
        <div class="alt-m-2 formField">

            <mat-form-field appearance="outline">
                <span (click)="showPassword(input)" class="showBtn"><img [hidden]="showpassword" width="20px"
                        height="20px" src="assets/svgs/closeeye.svg">
                    <img width="20px" height="20px" [hidden]="!showpassword" src="assets/svgs/openeye.svg" alt="AOL">
                </span>
                <input matInput #input placeholder="'Create_password'|translate" type="password" formControlName="password"
                    autocomplete="off" required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#@$!%*?&])[A-Za-z\d@$#!%*?&]{8,}$">
                <!-- <mat-error>
                    <div *ngIf="emailLoginForm.controls['password'].errors">
                        <span *ngIf="emailLoginForm.controls['password'].invalid">Please Enter Password</span>
                        <span *ngIf="emailLoginForm.controls['password'].errors['minlength']">
                            Password must be min 6 char
                        </span>
                    </div>
                </mat-error> -->

            </mat-form-field>
            <div
                *ngIf="emailLoginForm.controls['password'].invalid && (emailLoginForm.controls['password'].touched || emailLoginForm.controls['password'].dirty)">
                <div *ngIf="emailLoginForm.controls['password']?.errors?.['minlength']; else patternElem;"
                    style="color: red;">
                    <!-- password must be at least 8 characters -->
                     {{'passwordLengthError'|translate}}
                </div>
                <ng-template #patternElem>
                    <div *ngIf="emailLoginForm.controls['password'].hasError('pattern')" style="color: red;">
                        <!-- password should atleast contain one uppercase, one lower case,
                        one special character and
                        one number -->

                        {{'password_invalid'|translate}}
                    </div>
                </ng-template>
            </div>
            <mat-form-field appearance="outline">
                <span (click)="showPasswordSecond(input2)" class="showBtn"><img [hidden]="showpasswordSecond"
                        width="20px" height="20px" src="assets/svgs/closeeye.svg">
                    <img width="20px" height="20px" [hidden]="!showpasswordSecond" src="assets/svgs/openeye.svg"
                        alt="AOL">
                </span>
                <input matInput #input2 placeholder="'confirm_password'|translate" type="password"
                    formControlName="confirm_password" autocomplete="off" required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$#!%*?&]{8,}$">
                <!-- <mat-error>
                    <div *ngIf="emailLoginForm.controls['confirm_password'].errors">
                        <span *ngIf="emailLoginForm.controls['confirm_password'].invalid">Please Enter Confirm
                            Password</span>
                        <span *ngIf="emailLoginForm.controls['confirm_password'].errors['minlength']">
                            Password must be min 6 char
                        </span>
                    </div>
                </mat-error> -->
            </mat-form-field>
            <div
                *ngIf="emailLoginForm.controls['confirm_password'].invalid && (emailLoginForm.controls['confirm_password'].touched || emailLoginForm.controls['confirm_password'].dirty)">
                <div *ngIf="emailLoginForm.controls['confirm_password']?.errors?.['minlength']; else patternElem;"
                    style="color: red;">
                    <!-- password must be at least 8 characters -->

{{'passwordLengthError'|translate}}
                </div>
                <ng-template #patternElem>
                    <div *ngIf="emailLoginForm.controls['confirm_password'].hasError('pattern')" style="color: red;">
                        <!-- password should atleast contain one uppercase, one lower case,
                        one special character and
                        one number -->
                    
                    {{'password_invalid'|translate}}
                    </div>


                </ng-template>
            </div>
        </div>
        <div class="alt-m-2">
            <button type="submit" class="alt-btn-p alt-w-100">{{'submit'|translate}}</button>
        </div>
    </form>
</div>