.parental-control-content {
    position: relative;
    text-align: center;

}

.msg {
    font-family: "PoppinsRegular";
    font-size: 20px;
    font-weight: 600;
    // line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;

}

.sucess-btn button{
    background: #FF8731;
    padding: 12px;
    border: 0;
    outline: 0;
    font-size: 16px;
    font-weight: 600;
    // line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    font-family: "PoppinsRegular";
    color: #FFFFFF;
    border-radius: 6px;
    margin-top: 20px;
}