<!-- <div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">
        <div class="alt-login-img">
            <img src="assets/svgs/altbalaji_logo.svg" alt="ALTBalaji">
        </div>
        <button class="close-btn">
            <mat-icon (click)="close()">close</mat-icon>
        </button>
        <div class="parental-heading">
            <p style="color: white;">Otp sent to {{emailId}}</p>


        </div>

        <div class="parental-heading-1">
            <p>Enter OTP</p>
            <div>

                <form>

                    <ng-otp-input #ngOtpInput [formCtrl]="otpInputCurrent" [config]="config"></ng-otp-input>
                </form>

            </div>

        </div>
        <br>
        <div class="parental-heading-1">
            <p>Enter new 4 digit pin</p>
            <div>

                <form>

                    <ng-otp-input #ngOtpInput [formCtrl]="otpInput" [config]="config"></ng-otp-input>
                </form>

            </div>

        </div>
        <br>
        <div class="parental-heading-1">
            <p>Confirm pin</p>
            <div>

                <form>

                    <ng-otp-input #ngOtpInput [formCtrl]="otpInput1" [config]="config"></ng-otp-input>
                </form>
                <br>
                <div style="color: #FF8787 !important" *ngIf="pinMatch">Pin not matched</div> -

            </div>
        </div>
        <button class="btn btn-danger" (click)="pinCreate()">SUBMIT</button>
    </div>



</div> -->


<div class="delete_list">
    <div class="close-btn" (click)="close()"><img src="assets/svgs/Vector.svg" alt="closeButton"></div>
    <h3>{{'delete_playlist'|translate}}</h3> <br>
    <div class="btns-yn">
        <button class="yesBtn">{{'yes' |translate}}</button>
        <button class="noBtn">{{'no' |translate}}</button>
    </div>

</div>