// .parental-control-content {
//     position: relative;
//     text-align: center;


//     .parental-heading {
//         p {
//             font-size: 18px;
//             font-family: 'GothamMedium' !important;
//             text-align: center;
//             color: #FFFFFF;
//         }
//     }

//     input[type=number] {
//         -moz-appearance: textfield;
//     }

//     .alt-login-img {
//         position: relative;
//         top: -56px;

//     }

//     .parental-heading-1 {
//         p {
//             font-size: 16px;
//             font-family: 'GothamMedium' !important;
//             text-align: center;
//             color: #B4B4B4;

//         }

//         .otp-form {
//             text-align: center;

//             form {
//                 display: flex;
//                 /* text-align: center; */
//                 justify-content: space-around;
//                 padding-right: 12%;
//                 padding-left: 12%;
//             }

//             span {
//                 .otp-pin {

//                     width: 50px;
//                     border: 1px solid #3D3D3D;
//                     margin-right: 10px;
//                     padding: 10px;
//                     border-radius: 10px;
//                     text-decoration: underline;
//                     text-decoration-thickness: 1px;
//                     text-underline-offset: 5px;
//                     margin-bottom: 20px;
//                     background-color: #3D3D3D;
//                     color: #BEBEBE;
//                     font-size: 48px;

//                 }
//             }
//         }
//     }
// }




.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;

}

.btns-yn{
    display: flex;
    gap: 6px;
}


.delete_list h3 {
    color: white;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.delete_list button,
.filterList_btn button {
    width: 49%;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    padding: 8px 0;
    font-weight: bold;
}

.delete_list .yesBtn,
.filterList_btn .submit {
    background-color: rgba(255, 123, 49, 1);
}

.delete_list .noBtn,
.filterList_btn .clear {
    background: rgba(127, 127, 127, 1);
}
