<div class="container-fluid p-0">
    <div class="details-wrapper sec-top3">
        <div fxLayout="row">
            <div fxFlex="15" fxHide.sm fxHide.xs fxHide.md>
                <span class="arrow-back">
                    <img src="assets/svgs/Vector (4).png" style="cursor: pointer; width: 50px;" (click)="back()"
                        alt="AOL">
                </span>
            </div>
            <div class="detail-s" fxFlex="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="100">
                <span class="arrow-back-mob">
                    <img src="assets/svgs/Vector (4).png" style="cursor: pointer; width: 35px;" (click)="back()"
                        alt="AOL">
                </span>
                <div class="grade-cls hide-desktop-view">
                    <div class="shows-header">
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <h1 class="font-36 headd aol-title_slide" *ngIf="showData.is_group==0">
                                {{showData.title}}
                            </h1>
                            <h1 class="font-36 headd aol-title_slide" *ngIf="showData.is_group==1">
                                {{showData.season_title}}
                            </h1>
                        </div>
                    </div>
                    <div class="details-title">
                        <ul class="sub-details" *ngIf="showData.meta!='' && showData.meta!=null">
                            <li *ngIf="showData.meta.year.length != 0 && showData.meta.year != 0">
                                {{showData.meta.year | date:'y'}}</li>
                            <li *ngIf="showData.meta.language.length != 0"> {{showData.meta.language}}</li>
                            <li *ngIf="showData.meta.genre!= ''"> {{showData.meta.genre.split(',')[0]}}</li>
                            <li *ngIf="showData.meta.genre != '' && showData.meta.genre.split(',')[1]!= undefined">
                                {{showData.meta.genre.split(',')[1]}}</li>
                        </ul>
                        <div class="like_aol">
                            <div class="icon-flex">
                                <div class="aol_like_dis" style="cursor: pointer;">
                                    <div class="head_like">
                                        <div class="head-likk_img"
                                            (click)="addLikes((userContentDescription.behaviour.likes==0)?1:0,showData)">
                                            <div class="heart_img" *ngIf="(userContentDescription?.behaviour.likes==0)">
                                                <img src="assets/icons/ph_heart-straight-bold (1).svg" alt="AOL">
                                            </div>
                                            <div class="heart_unfilled"
                                                *ngIf="(userContentDescription?.behaviour.likes==1)">
                                                <img src=" assets/icons/ph_heart-straight-bold.svg" alt="AOL">
                                            </div>
                                        </div>
                                        <div class="like_count" *ngIf="totalCountLikes">
                                            <div>{{totalLikes}}</div>
                                        </div>

                                    </div>
                                    <div class="eye_head" *ngIf="totalCountLikes">
                                        <div class="eye_view">
                                            <img src="assets/new_icons/eye-details.svg" alt="AOL" width="30px">
                                        </div>
                                        <div class="see_count">
                                            <div>{{totalViews}}</div>
                                        </div>


                                    </div>
                                    <div class="heart_unfilled" ole="button" aria-label="" id="dropdownMenuLinks"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="social-icon1">
                                        <img src="assets/new_icons/share.svg" alt="AOL" width="23px">
                                        <div class="dropdown-menu dropMenus" aria-labelledby="dropdownMenuLinks">

                                            <div class="d-flex" style="gap:20px">
                                                <a (click)="sharing('fb',showData)" class="fb"><img
                                                        src="assets/svgs/facebook.svg" alt="AOL"></a>
                                                <a (click)="sharing('tweet',showData)" class="twitter"><img
                                                        src="assets/svgs/twitter.svg" alt="AOL"></a>
                                                <a (click)="sharing('whatsapp',showData)" class="whatsapp"><img
                                                        src="assets/svgs/whatsap.svg" alt="AOL"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="details-description">
                        <div [ngClass]="{'limitTextHeight': isReadMore}">
                            <p *ngIf="showData.is_group==0">{{showData.des}}</p>
                            <p *ngIf="showData.is_group==1">{{showData.season_des}}</p>
                            <br><br>
                            <ng-container>
                                <span *ngIf="showData.meta!='' && showData.meta!=null && showData.meta.star_cast!=''">
                                    <p style="color: white;" *ngIf="showData.meta.star_cast!=''">
                                        {{'Cast'|translate}}: <span class="text-1">{{showData.meta.star_cast}}</span>
                                    </p>
                                    <p style="color: white;" *ngIf="showData.meta.director!=''">
                                        {{'Directors'|translate}}: <span
                                            class="text-1">{{showData.meta.director}}</span>
                                    </p>
                                    <p style="color: white;" *ngIf="showData.short_desc!=''">
                                        <span class="text-1">{{showData.short_desc}}</span>
                                    </p>

                                </span>

                                <p style="color: white;" *ngIf="showData.context">
                                    {{'Context'|translate}}: <span class="text-1">{{showData.context}}</span>
                                </p>
                                <p *ngIf="showData.theme" style="color: white;">
                                    {{'Theme' |translate}}: <span class="text-1">{{showData.theme}}</span>
                                </p>
                                <p *ngIf="showData.impact" style="color: white;">
                                    {{'Tone_and_Impact' |translate}}: <span class="text-1">{{showData.impact}}</span>
                                </p>
                                <p *ngIf="showData.target_audience" style="color: white;">
                                    {{'Target_Audience' |translate}}: <span
                                        class="text-1">{{showData.target_audience}}</span>
                                </p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="details-button">
                        <ul class="sub-details">
                            <li>
                                <button class="play-btn-aol" (click)="playvideo(showData)">
                                    <img src="assets/svgs/Icon.svg" alt="Play button" style="cursor: pointer" />
                                    {{'Play' |translate}}
                                </button>
                            </li>
                            <li *ngIf="showData.is_event == 0" (mouseenter)="hoverAddwatch()"
                                (mouseleave)="hoverAddwatchRemove()" class="watchlist" style="cursor: pointer;"
                                (click)="addRemoveToWatchlist((userContentDescription.behaviour.favorite==0)?1:0,showData.category_ids[0],showData.categories,showData)">
                                <button *ngIf="(userContentDescription?.behaviour.favorite==0)" class="wat-btnn">
                                    <img src="assets/svgs/add-square-01.svg" alt="AOL" width="27px">
                                    {{'Add_to_My_list' |translate}}
                                </button>

                                <button class="added-btnn" *ngIf="(userContentDescription?.behaviour.favorite==1)">
                                    <img src="assets/svgs/check-contained.svg" alt="AOL">
                                    {{'added_to_watchlist' |translate}}
                                </button>

                            </li>
                        </ul>

                    </div>
                </div>


                <video id="my_video_1" loop autoplay playsinline class="video-js vjs-default-skin" muted width="100%"
                    height="100%" preload="none" data-setup='{ "aspectRatio":"16:9" }'>
                </video>
                <div class="icon_player" *ngIf="hideicon">
                    <img style="cursor: pointer" *ngIf="muted" (click)="unmute()" width="60px" height="60px"
                        src="assets/new_icons/volume-x.svg" alt="AOL" class="mute-unmute" loading="lazy" />

                    <img style="cursor: pointer" *ngIf="!muted" (click)="mute()" width="60px" height="60px"
                        src="assets/new_icons/volume-2.svg" alt="AOL" class="mute-unmute" loading="lazy" />

                </div>

                <div class="bttm-shdw">
                </div>
                <div class="topp-shdw">

                </div>
                <div class="right-shdw">

                </div>
            </div>
        </div>

    </div>

    <div class="detail-play-detail">
        <!-- <div class="aol-player">
            <video id="my_video_1" loop autoplay class="video-js vjs-default-skin" muted width="100%" height="100%"
            preload="none" [poster]='bannerImg' data-setup='{ "aspectRatio":"640:267" }'>
        </video>
            <div class="bttm-shdw">
            </div>
            <div class="topp-shdw">

            </div>
            <span class="arrow-back">
                <img src="assets/svgs/Vector (4).png" class="aol-back" (click)="back()" alt="abc">
            </span>
        </div> -->
        <div class="aol-detail_mobile">
            <div class="shows-header">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <h1 class="font-36 headd aol-title_slide" *ngIf="showData.is_group==0">
                        {{showData.title}}
                    </h1>
                    <h1 class="font-36 headd aol-title_slide" *ngIf="showData.is_group==1">
                        {{showData.season_title}}
                    </h1>
                </div>
            </div>
            <div class="details-title">
                <ul class="sub-details" *ngIf="showData.meta!='' && showData.meta!=null">
                    <li *ngIf="showData.meta.year.length != 0 && showData.meta.year != 0">
                        {{showData.meta.year | date:'y'}}</li>
                    <li *ngIf="showData.meta.language.length != 0"> {{showData.meta.language}}</li>
                    <li *ngIf="showData.meta.genre!= ''"> {{showData.meta.genre.split(',')[0]}}</li>
                    <li *ngIf="showData.meta.genre != '' && showData.meta.genre.split(',')[1]!= undefined">
                        {{showData.meta.genre.split(',')[1]}}</li>
                </ul>
                <div class="like_aol" *ngIf="showData.is_event == 0">
                    <div class="icon-flex">
                        <div class="aol_like_dis" style="cursor: pointer;">
                            <div class="head_like">
                                <div class="head-likk_img"
                                    (click)="addLikes((userContentDescription.behaviour.likes==0)?1:0,showData)">
                                    <div class="heart_img" *ngIf="(userContentDescription?.behaviour.likes==0)">
                                        <img src="assets/icons/ph_heart-straight-bold (1).svg" alt="AOL">
                                    </div>
                                    <div class="heart_unfilled" *ngIf="(userContentDescription?.behaviour.likes==1)">
                                        <img src=" assets/icons/ph_heart-straight-bold.svg" alt="AOL">
                                    </div>
                                </div>
                                <div class="like_count" *ngIf="totalCountLikes">
                                    <div>{{totalLikes}}</div>
                                </div>
                            </div>
                            <div class="eye_head" *ngIf="totalCountLikes">
                                <div class="eye_view">
                                    <img src="assets/new_icons/eye-details.svg" alt="AOL" width="30px">
                                </div>
                                <div class="see_count">
                                    <div>{{totalViews}}</div>
                                </div>

                            </div>
                            <div class="heart_unfilled" ole="button" aria-label="" id="dropdownMenuLinks"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="social-icon1">
                                <img src="assets/new_icons/share.svg" alt="AOL" width="23px">
                                <div class="dropdown-menu dropMenus" aria-labelledby="dropdownMenuLinks">


                                    <div class="d-flex" style="gap:20px">
                                        <a (click)="sharing('fb',showData)" class="fb"><img
                                                src="assets/svgs/facebook.svg" alt="AOL"></a>
                                        <a (click)="sharing('tweet',showData)" class="twitter"><img
                                                src="assets/svgs/twitter.svg" alt="AOL"></a>
                                        <a (click)="sharing('whatsapp',showData)" class="whatsapp"><img
                                                src="assets/svgs/whatsap.svg" alt="AOL"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="details-description">
                <div [ngClass]="{'limitTextHeight': isReadMore}">
                    <p *ngIf="showData.is_group==0">{{showData.des}}</p>
                    <p *ngIf="showData.is_group==1">{{showData.season_des}}</p>
                    <br><br>
                    <ng-container>
                        <span *ngIf="showData.meta!='' && showData.meta!=null && showData.meta.star_cast!=''">
                            <p style="color: white;" *ngIf="showData.meta.star_cast!=''">
                                {{'Cast' |translate}}: <span class="text-1">{{showData.meta.star_cast}}</span>
                            </p>
                            <p style="color: white;" *ngIf="showData.meta.director!=''">
                                {{'Directors' |translate}}: <span class="text-1">{{showData.meta.director}}</span>
                            </p>
                            <p style="color: white;" *ngIf="showData.short_desc!=''">
                                <span class="text-1">{{showData.short_desc}}</span>
                            </p>

                        </span>

                        <p style="color: white;" *ngIf="showData.context">
                            {{'Context' |translate}}: <span class="text-1">{{showData.context}}</span>
                        </p>
                        <p *ngIf="showData.theme" style="color: white;">
                            {{'Theme' |translate}}: <span class="text-1">{{showData.theme}}</span>
                        </p>
                        <p *ngIf="showData.impact" style="color: white;">
                            {{'Tone_and_Impact' |translate}}: <span class="text-1">{{showData.impact}}</span>
                        </p>
                        <p *ngIf="showData.target_audience" style="color: white;">
                            {{'Target_Audience' |translate}}: <span class="text-1">{{showData.target_audience}}</span>
                        </p>
                    </ng-container>
                </div>
            </div>
            <div class="details-button">
                <ul class="sub-details">
                    <li>
                        <button class="play-btn-aol" (click)="playvideo(showData)">
                            <img src="assets/svgs/Icon.svg" alt="Play button" style="cursor: pointer" />
                            {{'Play' |translate}}
                        </button>
                    </li>
                    <div class="icon-flex">
                        <li *ngIf="showData.is_event == 0" (mouseenter)="hoverAddwatch()"
                            (mouseleave)="hoverAddwatchRemove()" class="watchlist shared" style="cursor: pointer;"
                            (click)="addRemoveToWatchlist((userContentDescription.behaviour.favorite==0)?1:0,showData.category_ids[0],showData.categories,showData)">
                            <button *ngIf="(userContentDescription?.behaviour.favorite==0)" class="wat-btnn">
                                <img src="assets/svgs/add-square-01.svg" alt="AOL">
                                <div class="text-btnn">
                                    {{'Add_to_My_list' |translate}}
                                </div>
                            </button>

                            <button class="added-btnn" *ngIf="(userContentDescription?.behaviour.favorite==1)">
                                <img src="assets/svgs/check-contained.svg" alt="AOL">
                                <div class="text-btnn">
                                    {{'added_to_watchlist' |translate}}
                                </div>
                            </button>
                        </li>


                    </div>

                </ul>
            </div>
        </div>
    </div>



    <!-- show -->
    <div class="episodes-wrapper" *ngIf="showData.is_group==1 && showData.groupInfo!=null" id="main-content">
        <div class="row">
            <div class="col-xl-6 col-sm-12 mb-4">
                <div class="epis-menu">
                    <h1 class="m-0 epsd-show"> Episodes </h1>
                    <div *ngIf="seasonData.length >= 2">
                        <ng-select class="select" [(ngModel)]="selected" [searchable]="false" [clearable]="false"
                            (change)="getData2($event)">
                            <ng-option *ngFor="let x of seasonData" [value]="x.id">{{x.title}}</ng-option>
                        </ng-select>
                    </div>
                    <div *ngIf="totalEpisodes>10">
                        <ng-select *ngIf="episodesArray.length" [(ngModel)]="selectedEpisode" [clearable]="false"
                            [searchable]="false" (change)="getEpisodeData($event)">
                            <ng-option *ngFor="let x of episodesArray" [value]="x.offset">{{x.long_title}}</ng-option>
                        </ng-select>

                    </div>

                </div>
            </div>

            <div class="col-xl-6 col-sm-12">
                <div class="gap-content">
                    <div class="view-all">
                        <h1 class="m-0 epsd-hide"> {{'Episodes' |translate}} </h1>
                        <span class="gapp-views">
                            <a class="seeall_aol" [routerLink]="'/all-episodes'"
                                [queryParams]="{ id: contentId }">{{'see_all_text' |translate}}</a>
                        </span>
                    </div>
                    <span class="gapp-views-2 see_All">
                        <a class="seeall_aol" [routerLink]="'/all-episodes'"
                            [queryParams]="{ id: contentId }">{{'see_all_text'|translate}}</a>
                    </span>

                </div>
            </div>
        </div>
    </div>

    <!-- show -->
    <div class="slick-card-carousel slick-card-padding no-data"
        *ngIf="showData.is_group==1 && showData.groupInfo!=null">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="config">
            <mat-card ngxSlickItem class="card-slide" *ngFor="let data of seasonSelectData;let i = index">
                <div class="aol_play_on">
                    <img class="mySlides" [ngStyle]="{'border-radius':data.type=='circle'?'50%':'4px'}"
                        [src]="data.sliderImg" (error)="onImgError($event,'rectangle_16x9')"
                        [alt]="data.is_group == 0 ? data.title : data.season_title"
                        [title]="data.is_group == 0 ? data.title : data.season_title" width="100%"
                        (click)="playvideo(data)">
                    <div *ngIf="data.is_ad != 1">
                        <img src="assets/svgs/Vector.png" alt="AOL" class="aol_play_img" (click)="playvideo(data)">
                    </div>

                </div>

                <div class="containerContent">
                    <div class="content">
                        <p class="t-white" *ngIf="data.title.length >= 35">{{data.title.substring(0,35) + "..."}}</p>
                        <p class="t-white" *ngIf="data.title.length < 35">{{data.title}}</p>
                    </div>
                    <p class="font-14 subtitle" *ngIf="data.short_desc!=''">{{data.short_desc.substring(0,50) + '...'}}
                    </p>

                </div>
            </mat-card>
        </ngx-slick-carousel>
        <p *ngIf="!seasonSelectData.length">
            <!-- NO DATA FOUND -->
            {{'no_record_found' |translate}}
        </p>
    </div>

    <!-- audio album -->
    <div class="episodes-wrapper"
        *ngIf="showData.is_group==1 && showData.groupInfo!=null && showData.content_type == 'audio'" id="main-content">
        <div class="row">
            <div class="col-xl-6 col-sm-12 mb-4">
                <div class="epis-menu">
                    <h1 class="m-0 epsd-show"> {{'Album' |translate}} </h1>
                </div>
            </div>

            <div class="col-xl-6 col-sm-12">
                <div class="gap-content">
                    <div class="view-all">
                        <h1 class="m-0 epsd-hide"> {{'Episodes' |translate}} </h1>
                        <span class="gapp-views">
                            <a class="seeall_aol" [routerLink]="'/all-episodes'"
                                [queryParams]="{ id: contentId }">{{'see_all_text' |translate}}</a>
                        </span>
                    </div>
                    <span class="gapp-views-2 see_All">
                        <a class="seeall_aol" [routerLink]="'/all-episodes'"
                            [queryParams]="{ id: contentId }">{{'see_all_text' |translate}}</a>
                    </span>

                </div>
            </div>
        </div>
    </div>

    <!-- audio album -->
    <div class="slick-card-carousel slick-card-padding no-data"
        *ngIf="showData.is_group==1 && showData.groupInfo!=null && showData.content_type == 'audio'">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="config">
            <mat-card ngxSlickItem class="card-slide" *ngFor="let data of seasonSelectData;let i = index">
                <div class="aol_play_on">
                    <img class="mySlides" [ngStyle]="{'border-radius':data.type=='circle'?'50%':'4px'}"
                        [src]="data.sliderImg" (error)="onImgError($event,'rectangle_16x9')"
                        [alt]="data.is_group == 0 ? data.title : data.season_title"
                        [title]="data.is_group == 0 ? data.title : data.season_title" width="100%">
                    <div *ngIf="data.is_ad != 1">
                        <img src="assets/svgs/Vector.png" alt="AOL" class="aol_play_img" (click)="playvideo(showData)">
                    </div>
                </div>

                <div class="containerContent">
                    <div class="content">
                        <p class="t-white" *ngIf="data.title.length >= 35">{{data.title.substring(0,35) + "..."}}</p>
                        <p class="t-white" *ngIf="data.title.length < 35">{{data.title}}</p>
                    </div>
                    <p class="font-14 subtitle" *ngIf="data.short_desc!=''">{{data.short_desc.substring(0,50) + '...'}}
                    </p>

                </div>
            </mat-card>
        </ngx-slick-carousel>
        <p *ngIf="!seasonSelectData.length">{{'no_record_found' |translate}}</p>
    </div>

    <div class="slick-card-carousel  slick-card-padding" style="margin-top: 50px;"
        *ngIf="showData.is_group==1 && trailerData.length">
        <h1>
            <!-- Trailers -->
            {{'trailer' |translate}}
        </h1>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="config">
            <mat-card style="cursor: pointer;" ngxSlickItem class="card-slide" *ngFor="let data of trailerData"
                (click)="playvideo(showData)">
                <img class="mySlides" [ngStyle]="{'border-radius':data.type=='circle'?'50%':'4px'}"
                    [src]="data.sliderImg" (error)="onImgError($event,'rectangle_16x9')"
                    [alt]="data.is_group == 0 ? data.title : data.season_title"
                    [title]="data.is_group == 0 ? data.title : data.season_title" width="100%">
                <mat-icon *ngIf="data.access_type=='paid' && !isSubscribed && data.is_ad != 1" class="crown" aria-hidden="false"
                    svgIcon="crown"></mat-icon>
                <div class="free-icon" *ngIf="data.access_type=='free' && !isSubscribed && data.is_ad != 1"> <img
                        src="assets/svgs/free-v1.svg" alt="AOL" class="free_aol-icon"> </div>
            </mat-card>
        </ngx-slick-carousel>
    </div>

    <div class="slick-card-carousel  slick-card-padding" style="margin-top: 50px;"
        *ngIf="showData.is_group==1 && extrasData.length">
        <h1>
            <!-- Extras -->
            {{'Extras'|translate}}
        </h1>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="config">
            <mat-card style="cursor: pointer;" ngxSlickItem class="card-slide" *ngFor="let data of extrasData"
                (click)="playvideo(showData)">
                <img class="mySlides" [ngStyle]="{'border-radius':data.type=='circle'?'50%':'4px'}"
                    [src]="data.sliderImg" (error)="onImgError($event,'rectangle_16x9')"
                    [alt]="data.is_group == 0 ? data.title : data.season_title"
                    [title]="data.is_group == 0 ? data.title : data.season_title" width="100%">
                <mat-icon *ngIf="data.access_type=='paid' && !isSubscribed && data.is_ad != 1" class="crown" aria-hidden="false"
                    svgIcon="crown"></mat-icon>
                <div class="free-icon" *ngIf="data.access_type=='free' && !isSubscribed && data.is_ad != 1"> <img
                        src="assets/svgs/free-v1.svg" alt="AOL" class="free_aol-icon"> </div>
            </mat-card>
        </ngx-slick-carousel>
    </div>

    <div class="slick-card-carousel  slick-card-padding" style="margin-top: 50px;"
        *ngIf="showData.is_group==1 && reviewData.length">
        <h1>
            <!-- Reviews -->
            {{'Reviews'|translate}}
        </h1>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="config">
            <mat-card style="cursor: pointer;" ngxSlickItem class="card-slide" *ngFor="let data of reviewData"
                (click)="playvideo(showData)">

                <img class="mySlides" [ngStyle]="{'border-radius':data.type=='circle'?'50%':'4px'}"
                    [src]="data.sliderImg" (error)="onImgError($event,'rectangle_16x9')"
                    [alt]="data.is_group == 0 ? data.title : data.season_title"
                    [title]="data.is_group == 0 ? data.title : data.season_title" width="100%">
                <mat-icon *ngIf="data.access_type=='paid' && !isSubscribed && data.is_ad != 1" class="crown" aria-hidden="false"
                    svgIcon="crown"></mat-icon>
                <div class="free-icon" *ngIf="data.access_type=='free' && !isSubscribed && data.is_ad != 1"> <img
                        src="assets/svgs/free-v1.svg" alt="AOL" class="free_aol-icon"> </div>
            </mat-card>
        </ngx-slick-carousel>
    </div>

    <div class="mb-5" *ngIf="detailData.length" style="margin-top: 50px;">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="card-slider-header">
            <h1>
                <!-- Similar -->
                {{'Similar' |translate}}
            </h1>
        </div>
        <div class="slick-card-carousel-similar  slick-card-padding">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="similarCarousel">
                <mat-card style="cursor: pointer;" ngxSlickItem class="card-slide" *ngFor="let data of detailData"
                    [routerLink]="'/'+data.permalink" (click)="SimilarClick(data)">
                    <img class="mySlides" [ngStyle]="{'border-radius':data.type=='circle'?'50%':'4px'}"
                        [src]="data.sliderImg" (error)="onImgError($event,'vertical_9x16')"
                        [alt]="data.is_group == 0 ? data.title : data.season_title"
                        [title]="data.is_group == 0 ? data.title : data.season_title" width="100%">
                </mat-card>
            </ngx-slick-carousel>
        </div>
    </div>
</div>