


.poster-wrapper{
    text-align: center;
}


.poster-wrapper img {
    width: 100%;
}
.privacy-container{
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    font-weight: 700;
    text-align: justify;
  }

  .arrow-back {
    position: absolute;
    left: 30px;
}

.arrow-back img{
    width: 35px;
    cursor: pointer;
}

@media screen and (max-width:1366px) {
    .arrow-back img{
        width: 28px;
        cursor: pointer;
    }

}


@media screen and (max-width:992px) {
    .poster-wrapper img {
        width: 100%;
    }


    .arrow-back{
        // display: none !important;
        position: unset !important;
        width: 30px !important;
      }
}
