<div class="alt-login-content">
    <div class="alt-login-img">
        <img src="assets/svgs/altbalaji_logo.svg" alt="AOL">
    </div>
    <h3 class="text-white verifyEmail ">Email Verification</h3>
    <div style="color: #FF8787 !important" *ngIf="show">{{invalidMsg}}</div>
    <!-- <div style="color:red" *ngIf="loginForm.controls['email'].hasError('pattern') && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
        Please
        enter valid email address
</div> -->
    <br>
    <button (click)="onNoClick()" class="close-btn">
        <mat-icon>Close</mat-icon>
    </button>
    <div>
        <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <input matInput type="email" oninput="this.value = this.value.toLowerCase()" formControlName="email"
                class="form-control" (input)="data($event)">
            <mat-error
                *ngIf="loginForm.controls['email'].hasError('pattern') ">
                <!-- Please mention correct mobile/Email address (key added to the translation service) -->
                 {{'Please_mention_correct_mobile/Email_address' |translate}}
            </mat-error>

            <br>
            <button type="submit" class=" btn btn-danger submitEmailLink">{{'submit' |translate}}</button>

        </form>
    </div>

</div>