<div *ngIf="this.data.name.status == 'upcoming' && this.data.type == 'webcast'" class="live-ended">
    {{'the_webcast_session_will_begin_on'|translate}} {{this.data.name.start_time.substring(0,10) | date:'dd MMM yyyy'}} {{'at'|translate}} {{this.data.name.start_time.substring(11, 19)}} IST
</div>

<div *ngIf="this.data.name.status == 'ended' && this.data.type == 'webcast'" class="live-ended">
    {{'Webcast_session_ended'|translate}}
</div>

<div *ngIf="this.data.name.status == 'expired' && this.data.type == 'webcast'" class="live-ended">
       {{'Webcast_session_ended'|translate}}

</div>

<div *ngIf="this.data.name.status == 'upcoming' && this.data.type == 'zoom'" class="live-ended">
    {{'the_zoom_session_will_begin_on'|translate}} {{this.data.name.start_time.substring(0,10) | date:'dd MMM yyyy'}} {{'at'|translate}} {{this.data.name.start_time.substring(11, 19)}} IST
</div>

<div *ngIf="this.data.name.status == 'ended' && this.data.type == 'zoom'" class="live-ended">
   {{'the_zoom_session_has_ended'|translate}}
</div>

<div *ngIf="this.data.name.status == 'expired' && this.data.type == 'zoom'" class="live-ended">
     {{'the_zoom_session_has_ended'|translate}}

</div>


