<div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">
        <div class="alt-login-img">
            <img src="assets/svgs/altt_logo.svg" alt="AOL">
        </div>
        <button (click)="close()" class="close-btn">
            <!-- <mat-icon>close</mat-icon> -->
            <img src="/assets/svgs/Vector.svg" alt="">
        </button>
        <br>
        <div class="alt-login-img">
            <img src="assets/svgs/Correct.svg" alt="AOL">
        </div>
            <p style="color:white;font-size:16px;color: #DEDEDE;">
               <!-- Your Query has been sent Successfully! (key added to tyranslation service) -->
{{'Query_sent_Successfully' |translate}}
            </p>
    </div>
</div>
