<div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">
        <span class="img-logo">
            <img src="assets/svgs/altbalaji_logo.svg" alt="AOL">
        </span>
        
        <button (click)="close()" class="close-btn">
            <!-- <mat-icon>close</mat-icon>
             -->
             <img src="/assets/svgs/Vector.svg" alt="">
        </button>
        <br><br>
        <div class="alt-login-img">
            <img src="assets/svgs/info.svg" alt="AOL">
        </div>
<br>
   
          
            <p style="font-size:18px;color: #DEDEDE;">
               {{value}}
            </p>
            
         
            <!-- <div class="row">
                <div class="col-6">
                    <button type="button"  class="btn-one">Yes</button>
                </div>
                <div class="col-6">
                    <button (click)="close()" type="button" class="btn-one">NO</button>
                </div>
            </div> -->

       
    </div>
</div>

