<div class="sec-top">

    <span class="mr-3 arrow-right">
        <img src="assets/svgs/Vector (4).png" style="cursor: pointer;" class="arr-icon" (click)="back()" alt="AOL"
            aria-hidden="false" class="f-size">
    </span>
    <div class="ebook-detail-page container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 pic_sizer">
                <div class="posterImg2" (click)="navigateToEbook(ebookData.url)">
                    <img [src]="ebookData.sliderImg" alt="" (error)="onImgError($event,'vertical_9x16')" width="100%" [alt]="ebookData.is_group == 0 ? ebookData.title : ebookData.season_title" [title]="ebookData.is_group == 0 ? ebookData.title : ebookData.season_title">
                    <!-- <img *ngIf="!ebookData.sliderImg"
                        src="https://static.altt.studio/configration/717/717_64d5dd75b30d6.jpg" alt="" width="100%"> -->
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="posterContent2 mt-lg-0 mt-md-0 mt-sm-0 mt-4">
                    <h1>{{ebookData.title}}</h1>

                    <p *ngIf="ebookData.des !=''">{{ebookData.des}}</p>

                    <div class="like_share">
                        <div class="aol_like_dis" style="cursor: pointer;">
                            <div class="head_like">
                                <div class="head-likk_img"
                                    (click)="addLikes((userContentDescription.behaviour.likes==0)?1:0,ebookData)">
                                    <div class="heart_img" *ngIf="(userContentDescription?.behaviour.likes==0)">
                                        <img src="assets/icons/ph_heart-straight-bold (1).svg" alt="">
                                    </div>
                                    <div class="heart_unfilled" *ngIf="(userContentDescription?.behaviour.likes==1)">
                                        <img src=" assets/icons/ph_heart-straight-bold.svg" alt="">
                                    </div>
                                </div>
                                <div class="like_count" *ngIf="totalCountLikes">
                                    <div>{{totalLikes}}</div>
                                </div>
                            </div>
                            <div class="eye_head" *ngIf="totalCountLikes">
                                <div class="eye_view">
                                    <img src="assets/icons/eye-open_view.png" alt="">
                                </div>
                                <div class="see_count">
                                    <div>{{totalViews}}</div>
                                </div>
                            </div>

                        </div>
                        <span aria-label="" id="dropdownMenuLinks" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" class="share social-icon1"><img src="assets/new_icons/share.svg"
                                alt="" class="like_img1"></span>
                        <div class="dropdown-menu dropMenus" aria-labelledby="dropdownMenuLinks">

                     
                                            <div class="d-flex" style="gap:20px">
                                                <a (click)="sharing('fb',ebookData)" class="fb"><img
                                                        src="assets/svgs/facebook.svg"></a>
                                                <a (click)="sharing('tweet',ebookData)" class="twitter"><img
                                                        src="assets/svgs/twitter.svg"></a>
                                                <a (click)="sharing('whatsapp',ebookData)" class="whatsapp"><img
                                                        src="assets/svgs/whatsap.svg"></a>
                                            </div>
                        </div>

                    </div>


                    <div class="watch_aol">
                        <button class="play-btn-aol" (click)="navigateToEbook(ebookData.url)">
                            <img src="../../../assets/new_icons/Vector.svg" alt="Play button" style="cursor: pointer" />
                            {{'Read'|translate}}
                        </button>
                        <div class="add-btn" *ngIf="(userContentDescription?.behaviour.favorite==0)">
                            <button class="addlist_Aol"
                                (click)="addRemoveToWatchlist((userContentDescription.behaviour.favorite==0)?1:0,ebookData)"><img
                                    src="/assets/svgs/add-square-01.svg" alt="">
                                {{'Add_to_My_list'|translate}}</button>
                        </div>
                        <div class="add-btn" *ngIf="(userContentDescription?.behaviour.favorite==1)">
                            <button class="addedlist_aol"
                                (click)="addRemoveToWatchlist((userContentDescription.behaviour.favorite==0)?1:0,ebookData)"><img
                                    src="assets/svgs/check-contained.svg" alt="">{{'added_to_watchlist' |translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>