.ebook-detail-page {
    // padding: 35px;
    padding-top: 30px;
    background: url("/assets/img/AOL_white.svg");
    background-repeat: no-repeat;
    background-position: center;
}

// .sec-top1 {
//     margin-top: 120px;
//     margin-left: 50px;
//     margin-right: 50px;
//     margin-bottom: 50px;
// }

.like_share {
    display: flex;
    gap: 12px;
    align-items: center;
}

.count {
    font-family: 'PoppinsRegular' !important;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #C5C5C5;
    margin-left: 12px;

}

.posterContent2 h2 {
    font-family: 'PoppinsRegular' !important;
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.posterContent2 p {
    font-family: 'PoppinsRegular' !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #C8C8C8;
}

.posterContent2 {
    position: absolute;
    bottom: 15%;
}

@media screen and (max-width:1366px) {
    .posterContent2 {
        position: unset;
    }
}

.posterImg2 img {
    cursor: pointer;
    border-radius: 6px;
}

.addlist_Aol {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    background: #27253D;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-family: 'PoppinsRegular';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
}


.addedlist_aol {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    background: #27253D;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-family: 'PoppinsRegular';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
}

@media screen and (max-width:992px) {
    .arrow-right {
        position: relative;
        // left: 8px;
    }

    .ebook-detail-page {
        background-size: 100% 100%;
    }
}

@media screen and (max-width:576px) {

    .posterContent2 h2 {
        font-size: 16px !important;
        line-height: 20px !important;
    }

    .posterContent2 p {
        font-size: 14px !important;
        line-height: 20px !important;
    }

    .like_img {
        width: 27px !important;
    }

    .like_img1 {
        width: 25px !important;
    }

    .count {
        font-size: 15px !important;
    }

    .addlist_Aol {
        font-size: 15px !important;
    }

    .addlist_Aol img {
        width: 25px;
    }

    .addedlist_aol img {
        width: 25px;
    }

    .pic_sizer {
        padding: 0px 80px;
    }
}


.like_img {
    width: 35px;
}


.like_img1 {
    width: 30px;
}


.eye_head {
    display: flex;
    align-items: center;
    gap: 4px;
}

.head_like {
    display: flex;
    align-items: center;
}

.aol_like_dis {
    display: flex;
    gap: 12px;
}


.heart_img img {
    width: 23px;
}

.heart_unfilled img {
    width: 23px;
}

.eye_view img {
    width: 25px;
}



.like_count div {
    font-family: "PoppinsRegular";
    font-size: 15px;
    font-weight: 500;
    min-width: 20px;
    max-width: fit-content;
    height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.see_count div {
    font-family: "PoppinsRegular";
    font-size: 15px;
    font-weight: 500;
    // line-height: 23px;
    letter-spacing: 0em;
    min-width: 20px;
    max-width: fit-content;
    height: 20px;
    text-align: center;
}
.dropMenus {
    background-color: #2d2d2d;
    min-width: 5%;
    position: absolute;
    padding: 6px;
    // left: -50px !important;
}
.social-icon1{
    cursor: pointer;
}

.watch_aol{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;

}

.play-btn-aol {
    background: #FF8731;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: 0;
    padding: 10px 12px;
    color: #FFFFFF;
    border-radius: 10px;
    font-family: "PoppinsMedium";
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.play-btn-aol img{
    width: 24px;
}

.addlist_Aol img{
    width: 24px;
}
.addedlist_aol img{
    width: 24px;
}