<div fxLayout="column" fxLayoutGap="10px">
    <div class="alt-login-content">
        <div class="alt-login-img">
            <img src="assets/svgs/altt_logo.svg" alt="AOL">
        </div>
        <p class="text-white">
            <!-- LazyPay has sent an OTP on your number (key added to translation service) -->
             {{'LazyPay_OTP' |translate}}
              </p>

        <button (click)="onNoClick()" class="close-btn">
            <mat-icon>Close</mat-icon>
        </button>
        
        
        <ng-otp-input #ngOtpInput [formCtrl]="otpInput" (onInputChange)="onOtpChange($event)" [config]="config"  autocomplete="one-time-code" >
        </ng-otp-input>
        <mat-error *ngIf="show && !otpInput.valid " class="mt-2" style="text-align:center !important;">{{'OTP_is_required' |translate}}
        </mat-error>
        <mat-error *ngIf="!hide" class="mt-2" style="text-align: center !important;">{{'invalid_otp' |translate}}
        </mat-error>
        <br>
        
        <div *ngIf="timerHide" style="color: #FFFFFF;font-size: 12px;font-weight:600">{{'otp_will_expire_in_phone' |translate}} {{display}} {{'minutes' |translate}}</div><br>
        <div class="otpResend"> <button style="border: none;
            background-color: transparent;" [disabled]="clicked"> {{'didn_t_receive_the_otp' |translate}} <button [disabled]="clicked"
                    (click)="resendOtp()" class="insideBtn">{{'resend' |translate}}</button></button></div>
        <div class="alt-m-4">
            <button type="submit" class="alt-btn-p alt-w-100" (click)="onVerifyOtp()">{{'submit' |translate}}</button>
        </div>

        


    </div>
   
</div>
