<div  class="section sec-top">
    <span class="arrow-back">
        <img src="assets/svgs/Vector (4).png" (click)="back()" alt="AOL">
    </span>
    <div class="row">
        <div class="col-12 text-center" >
            <div class="alt-login-img" *ngIf="basesignin?.activation?.logo?.is_allow == 1">
                <img src="{{basesignin?.activation?.logo?.web}}" alt="">
            </div>
            <div class="text-center">
                <h3 class="heading" *ngIf="basesignin?.activation?.description?.is_allow == 1">
                    <!-- {{basesignin.activation.description.text}}  (key added to the translation service)-->
                {{'AOL_TV_App' |translate}}
                
                </h3>
                <ng-otp-input #ngOtpInput [formCtrl]="otpInput" (onInputChange)="onOtpChange($event)" [config]="config"
                    class="input">
                </ng-otp-input>
                <!-- <mat-error *ngIf="otpInput.invalid" class="mt-2" style="margin-left: 54px;text-align: start;">Activation Code is required</mat-error><br> -->
                <!-- <mat-error *ngIf="otpInput.invalid" class="mt-2" style="margin-left: 54px;text-align: start;">{{mesg}}</mat-error> -->
            </div>


        </div>
        <div class="alt-m-4">
            <button type="submit" class="alt-btn-aol" (click)="onVerifyOtp()"
                *ngIf="basesignin?.activation?.submit_btn?.is_allow == 1">
                <!-- {{basesignin.activation.submit_btn.text}} -->
            
            {{'continue_with'|translate}}
            </button>
        </div>



    </div>
    <!-- <div class="alt-m-4">
        <p class="para text-white" (click)="logout()">Login using another account</p>
    </div> -->

    <ng-template #editCompanyModal>
        <div fxLayout="column">
            <div class="parental-control-content">
                <span class="img-logo">
                    <img src="assets/svgs/Group.png" alt="AOL">
                </span>


                <button (click)="close()" class="close-btn">
                    <img src="assets/svgs/Vector.svg" alt="closeButton">
                </button>
                <br><br>
                <div class="alt-login-imgs">
                    <img src="assets/svgs/info.svg" alt="AOL">
                </div>
                <br>

                <!-- <p class="adulttHeading">ADULT CONTENT</p><br> -->
                <p style="font-size:17px;color: #DEDEDE;font-weight: 600">
                    {{mesg |translate}}
                </p>




            </div>
        </div>
    </ng-template>
    <ng-template #successModal>
        <div fxLayout="column" style="width: 300px !important;">
            <div class="parental-control-content">
                <span class="img-logo">
                    <img src="assets/svgs/Group.png" alt="AOL">
                </span>


                <button (click)="successDialogClose()" class="close-btn">
                    <mat-icon>Close</mat-icon>
                </button>
                <br><br>
                <div class="alt-login-img">
                    <img src="assets/svgs/info.svg" alt="AOL">
                </div>
                <br>


                <p style="font-size:17px;color: #DEDEDE;font-weight: 600">
                    {{mesg |translate}}
                </p>
                <br>



            </div>
        </div>
    </ng-template>
</div>