<div class="sec-top">
    <h1 class="f-size_aol">
        <span class="mr-3 arrow-right">
            <img src="assets/svgs/Vector (4).png" style="cursor: pointer" class="arr-icon" (click)="back()" alt="AOL"
                aria-hidden="false" class="f-size" /> </span>

        Webcasts
    </h1>
    
    <div class="noEvents" *ngIf="!data?.length" ><div>{{'no_upcoming_live_events' |translate}}</div></div>
    <div class="container zoom_container">
        <div class="zoom-main">

            <div class="time_zoom row" *ngFor="let live of data;let i = index">
                <div class="zoom_img col-lg-4 col-md-4">
                    <img class="zoomImage" [src]="live.sliderImg" alt="" width="100%">
                </div>
                <div class="zoom_date col-lg-5 col-md-5">
                    <h3 class="webcast-tilte" style="text-transform: uppercase;">{{live.title}}
                    </h3>
                    <h4 style=" margin-top: 10px; text-transform: uppercase;color: #7F7F7F;">{{live.des}}</h4>
                    <h4 style=" margin-top: 10px;" class="texts"><i class="fa fa-calendar"></i>
                        {{live.publish_date | date:'MMMM d'}} - {{live.publish_end_date | date:'MMMM d'}}</h4>
                    <h4 style=" margin-top: 10px;" class="texts"><i class="fa fa-clock-o"></i>
                        {{live.publish_date | date:'HH:mm'}} IST - {{live.publish_end_date | date:'HH:mm'}} IST</h4>
                </div>
                <div class="btn_zoom col-lg-3 col-md-3">
                    <button type="submit" (click)="join(i,live)">{{'join' |translate}}</button>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="slick-card-carousel  slick-card-padding" style="margin-top: 50px;margin-bottom: 30px">
    <div style="display: flex;justify-content: space-between;">
        <h1 class="f-size_aol">{{recordingData[0]?.cat_name}}</h1>
        <div [routerLink]="'/view/all/' + recordingData[0]?.cat_name + '/' + recordingData[0]?.cat_id"
            style="cursor: pointer">
            <a class="see">{{'see_all_text' |translate}}</a>

        </div>
    </div>

    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="config">
        <mat-card style="cursor: pointer;" ngxSlickItem class="card-slide"
            *ngFor="let data of recordingData[0]?.cat_cntn" (click)="PlayVideo(data)">
            <img class="mySlides" [ngStyle]="{'border-radius':data.type=='circle'?'50%':'4px'}" [src]="data.sliderImg"
                alt="AOL" width="100%">
            <div class="icon-crown"
                *ngIf="data.access_type == 'paid'  && data.package_mode !== 'Prime'  && !isSubscribed">
                <img src="assets/svgs/aol_crown.svg" class="aol_crown" alt="AOL">
            </div>

            <div class="free-icon"
                *ngIf="data.access_type == 'free'  && data.package_mode !== 'Prime' && !isSubscribed">
                <img src="assets/svgs/free-v1.svg" class="free_aol-icon" alt="AOL" />
            </div>
        </mat-card>
    </ngx-slick-carousel>
</div>