<div class="alt-login-content">
  <div class="alt-login-img" *ngIf="baseLine.profileEmailVerify.logo.is_allow == 1">
    <img src="{{baseLine.profileEmailVerify.logo.web}}" alt="AOL">
  </div>
  <!-- <h3 class="verifyEmail" *ngIf="baseLine.profileEmailVerify.heading.is_allow == 1">
    {{baseLine.profileEmailVerify.heading.text}}</h3>
  <hr> -->
  <span (click)="onNoClick()" class="close-btn">
    <img src="assets/svgs/Vector.svg" alt="closeButton">
  </span>
  <p class="verificationCOde">
    <!-- Please enter the 4 digit verification (key added to the translation service) -->
     {{'enter_4_digit_verification' |translate}}
     <br>
     <!-- code send to (key added to translation service)  -->
      {{'code_send_to' |translate}}:
     
     <span
      style="color:#B4B4B4 ;">{{userEmail}}</span> </p>
  <form [formGroup]="emailLoginForm" #emailLoginFormDir="ngForm" (ngSubmit)="onSubmitEmailLogin()">
    <div class="alt-m-2 formField">

      <ng-otp-input #ngOtpInput [formCtrl]="otpInput" class="otp_input" (onInputChange)="onOtpChange($event)"
        [config]="config">
      </ng-otp-input>
      <mat-error *ngIf="show && !otpInput.valid " class="mt-2"
        style="text-align:center !important;">{{'enter_valid_OTP' |translate}}
      </mat-error>
      <mat-error *ngIf="!verifyOtp"
        style="text-align:center !important; margin-top: 20px !important; font-size: 15px !important; color: #FFFFFF; ">
        {{'invalid_otp' |translate}}
      </mat-error>


      <br>
      <div >
        <!-- <div *ngIf="!otpInput.value"> -->
        <div *ngIf="timerHide" style="color: #FFFFFF;font-size: 12px;">{{'otp_will_expire_in_phone' |translate}} {{display}} {{'minutes' |translate}}
        </div>
        <div class="otpResend mb-3">
          <button style="border: none;background-color: transparent;" [disabled]="clicked" type="button"
            *ngIf="baseLine.profileEmailVerify.resent_text.is_allow == 1">
            {{'didn_t_receive_the_otp'|translate}} <button [disabled]="clicked" type="button"
              *ngIf="baseLine.profileEmailVerify.submit_btn.is_allow == 1" (click)="resendOtp()"
              class="insideBtn">{{'resend' |translate}}</button> </button>
        </div>
      </div>
      <mat-error *ngIf="!otpExceeded"
        style="text-align:center !important; margin-top: 20px !important; font-size: 14px !important; ">
        <!-- {{errorMsg.messageOtpResendLimitReached |translate}} -->
            {{'maximum_OTP_limit' |translate}}

      </mat-error>


    </div>
    <div class="alt-m-2 " style="width:100%; display: flex; justify-content:center;
        ">
      <button type="submit" class="aol-btn-p"
        *ngIf="baseLine.profileEmailVerify.submit_btn.is_allow == 1">{{'submit' |translate}}</button>
    </div>
  </form>







</div>