<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- <div class="center">
                <h1 class="center-text">Cancel</h1>
               </div> -->
               <div class="center">
                <img class=" img" src="assets/svgs/failed.png" alt="AOL">
                <h5 class="text-white text-center font-weight-bold">
                    <!-- OOPS..!!! -->
                {{'OOPS'|translate}}
                </h5>
                <h6 class="text-white text-center mb-4 mt-2">
                     <!-- Transaction Failed -->
                    {{'Transaction_Failed' |translate}}
                    </h6>
                <h1 class="center-text" (click)="gotoSubscribe()">
                    <!-- TRY AGAIN -->
                     {{'Try_again' |translate}}
                </h1>
                <a class="a" (click)="openContactUsDialog()">
                     <!-- Contact Support -->
{{'Contact_Support' |translate}}
                    </a>
            </div>

        </div>

    </div>

</div>