.example-card {
    img{
        // width: 100%;
    height: auto;
    }
  }
 
.section-popular{padding-top: 2%;padding: 3px;}
.alt-p-3{
    position: relative;
}
.crown{
    position: absolute;
    top: 7%;
    left: 6.4%;
}
#searchDiv{
    cursor: pointer;
}

.alt-p-3 {
    padding: 8px;
}
.prime-icon {
  top: 3%;
  position: absolute;
  left: 5%;
}
.icon-crown {
  position: absolute;
  top: 3%;
  left: 5%;
  }
  
  .icons_art{
    position: absolute;
    top: 3%;
    right: 5%;
  }
  
.free-icon {
    position: absolute;
    top: 6%;
    left: 1.5%;
  }
.title_case {
    font-size: 15px;
    font-family: 'PoppinsRegular' !important;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    word-wrap: break-word;
  }

@media screen and (max-width:992px) {

    .title_case{
        font-size: 12px;
    }

    .free-icon {
      position: absolute;
      top: 6px !important;
      left: 0px !important;
  }
}