<ng-container>
  <div id="searchDiv" fxLayout="row wrap" layout.xs="column" flexLayoutAlign="flex-start">
    <ng-container *ngFor="let data of popular_data">
      <div fxFlex="16.66%" fxFlex.xs="33.30%" fxFlex.sm="33.30" fxFlex.md="20%" class="alt-brr-10 alt-p-3"
        (click)="navigate(data)">
        <img [src]="data.sliderImg || defaultThumb" [ngStyle]="{'border-radius':'8px','height':'auto','width':'100%'}"
          class=" alt-brr-10" [alt]="data.is_group == 0 ? data.title : data.season_title"
          [title]="data.is_group == 0 ? data.title : data.season_title" />

        <div *ngIf="data.is_ad != 1">
          <div class="icons_art" [ngStyle]="{display: data?.content_type == 'audio' ? 'flex' : 'none'}">
            <img src="assets/svgs/headphone.svg" class="music_art" alt="">
          </div>
          <div class="icons_art" [ngStyle]="{display: data?.content_type == 'ebook' ? 'flex' : 'none'}">
            <img src="assets/svgs/e-book.svg" class="music_art" alt="">


          </div>
          <div class="icons_art" [ngStyle]="{display: data?.content_type == 'video' ? 'flex' : 'none'}">
            <img src="assets/svgs/video_icon.svg" class="music_art" alt="">


          </div>
          <div class="icon-crown"
            *ngIf="data.access_type == 'paid'   && data.package_mode !== 'Prime'  && !isSubscribed">
            <img src="assets/svgs/aol_crown.svg" class="aol_crown" alt="AOL">
          </div>

          <div class=" free-icon "
            *ngIf="data.access_type == 'free'  && data.package_mode !== 'Prime'  && !isSubscribed">
            <img src="assets/svgs/free-v1.svg" class="free_aol-icon" alt="AOL" />
          </div>
          <div class="prime-icon" *ngIf="data.package_mode == 'Prime'  ">
            <img src="assets/svgs/lock-prime-v2.svg" class="free_aol" alt="AOL" />
          </div>
        </div>

        <div>
          <p *ngIf="data.is_group==0" class="title_case">{{data.title}}</p>
          <p *ngIf="data.is_group==1" class="title_case">{{data.season_title}} - (Season)</p>

        </div>
      </div>

    </ng-container>
  </div>
</ng-container>