<div class="register-aol">
    <div class="register-logo">
        <img src="/assets/svgs/Group.png" alt="">
    </div>
    <div class="register-head">
        <h4>{{'Welcome' |translate}}</h4>
    </div>
    <div class="register-para">
        <p>
        <!-- Looks like you have not registered yet. Sign up to continue    {key added to the translaion service}  -->
         {{'not_registered_Sign_up' |translate}}
        </p>
    </div>
    <div class="btnns">
       
        <div class="expore">
            <button (click)="goToHome()">{{'skip_sign_in' |translate}}</button>
        </div>
        <div class="register-btn" id="registerSignup">
            <button (click)="close()">{{'sign_up' |translate}}</button>
        </div>
    </div>
</div>