.container {
      max-width: 900px;
      margin: 0 auto;
      padding: 60px 20px;
      text-align: center;
    }

    .logo {
      font-size: 34px;
      font-weight: 600;
      color: #ff8731;
      margin-bottom: 10px;
      line-height: 40px;
    }

    .subtitle {
      font-size: 16px;
      color: #ffffff;
      margin-top: 20px;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 24px;
      margin-top: 20px;
    }

    .card {
      background: #ffffff;
      border-radius: 14px;
      padding: 30px 20px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
      transition: transform 0.25s ease, box-shadow 0.25s ease;
    }

    .card:hover {
      transform: translateY(-6px);
      box-shadow: 0 18px 35px rgba(0, 0, 0, 0.12);
    }

    .icon {
      font-size: 48px;
      margin-bottom: 15px;
    }

    .card h3 {
      font-size: 20px;
      margin-top: 10px;
      color: darkgoldenrod;
    }

    .card p {
      font-size: 14px;
      color: #666;
      margin-bottom: 25px;
    }

    .download-btn {
      display: inline-block;
      padding: 12px 24px;
      border-radius: 30px;
      background: #ff8731;
      color: #ffffff;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      transition: background 0.25s ease, transform 0.25s ease;
    }

    .download-btn:hover {
      background: #100E22;;
      transform: scale(1.05);
    }

    footer {
      margin-top: 60px;
      font-size: 13px;
      color: #777;
    }