<div fxLayout="column" fxLayoutGap="10px" class="alert-modal">
    <div class="alt-login-content">
        <div class="alt-login-img">
            <img src="assets/svgs/altbalaji_logo.svg" alt="AOL">
        </div>
        <button  class="close-btn">
            <mat-icon (click)="close()">Close</mat-icon>
        </button>
      <div class="matIcon">
        <mat-icon aria-hidden="false" svgIcon="info"></mat-icon>
      </div>
      <br>
      <div>
       <p>
        <!-- Please verify your Email ID (key added in translation service) -->
{{'verify_your_emailID'|translate}}
       </p>
      </div>
    </div>
</div>