<div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">

        <span (click)="close()" class="close-btn">
            <img src="assets/svgs/Vector.svg" alt="">
        </span>

        <div class="logo">
            <img src="assets/svgs/info.svg" alt="AOL">
        </div>
        <br>

        <!-- <p class="adulttHeading">ADULT CONTENT</p><br> -->
        <p style="font-size:17px;color: #FF8787 !important;font-weight: 600">
           {{'your_payment_has_been_Cancelled' |translate}}. {{'payment_later' |translate}}.
        </p>

    </div>
</div>