<video id="video-ls" [poster]="poster" playsinline muted class="videopl vjs-default-skin" data-setup='{"liveui": true}'>
    <source [src]='videourl'>
</video>

<div class="episodeSelector1" *ngIf="alldata.groupInfo != null" >
    <div class="tabset-screen"  style="display: flex;">
        <div class="tabset1" 
            *ngFor="let seasontitle of alldata.groupInfo.child; let first = first;" (click)="getEpisode1(seasontitle.id, seasontitle.total_episode);" >

            <input type="radio" name="tabset1" id={{seasontitle.id}} aria-controls="marzen" [checked]="first">
            <label for={{seasontitle.id}}>{{seasontitle.title}}</label>
        </div>
        <div class="crossepisode">
            <img (click)="crossEpisode()" src="assets/svgs/playercross.svg" alt="alt">
        </div>
    </div>

    <div class="tab-panels">
        <div class="player-slick-carousel">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                <div ngxSlickItem *ngFor="let episodes of EpiData, index as i" class="slide">
                    <h6 class="season-head-2"> E{{i+1}} : {{episodes.title.slice(0, 10)}}.. </h6>
                    <h6 class="season-head"> E{{i+1}} : {{episodes.title.slice(0, 15)}}.. </h6>
                    <img class="mySlidesMain" [src]="episodes.sliderImg" (click)="playEpisode(episodes)"
                        (error)="onImgError($event)" alt="AOL" width="100%">
                    <p class="slide-para"> {{episodes.des.slice(0, 65)}}... </p>
                    <p class="slide-para-2"> {{episodes.des.slice(0, 35)}}... </p>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</div>

<div class="icons">
    <img style="cursor: pointer;" (click)="pause()" width="55px"
        height="55px" src="assets/svgs/Pause.svg" alt="AOL">
    <img style="cursor: pointer;" (click)="play()" width="55px"
        height="55px" src="assets/svgs/play.svg" alt="AOL">
    <img style="cursor: pointer;" (click)="mute()" width="60px" height="60px"
        src="assets/svgs/muteicon.png" alt="AOL">
    <img style="cursor: pointer;" (click)="unmute()" width="60px" height="60px" src="assets/svgs/unmuteicon.png"
        alt="AOL">
    <img style="cursor: pointer;" (click)="fullscreen()" width="55px" height="55px" src="assets/svgs/fullscreen.svg"
        alt="AOL">
</div>
<div class="lock" *ngIf="ended && !isSubscribed">
    <img src="assets/svgs/padlock.png" alt="">

    <h1>{{'to_watch_more'|translate}}</h1>
    <br>
    <button style="cursor: pointer;" routerLink="/subscribe">{{'subscribe_now'|translate}}</button>
</div>