<div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">
        <span class="img-logo">
            <img src="assets/svgs/Group.png" alt="">
        </span>


        <button (click)="close()" class="close-btn">
            <!-- <mat-icon>close</mat-icon> -->
            <img src="/assets/svgs/Vector.svg" alt="">
        </button>
        <br>
        <div class="alt-login-img">
            <img src="{{baseJson.invalid_pin.warning_error.web}}" alt="AOL">
        </div>
        <br>

        <!-- <p class="adulttHeading">ADULT CONTENT</p><br> -->
        <p class="adulttHeading" *ngIf="showwrongOtp">
            {{wrongOtp |translate}}
        </p>
        <p style="font-size:17px;color: #DEDEDE;font-weight: 600" *ngIf="openMic">
            <!-- Microphone access is disabled. Please allow microphone access from the browser's settings. (key added to the translation service) -->
  
  {{'Microphone' |translate}}
        </p>


        <!-- <div class="row">
                <div class="col-6">
                    <button type="button"  class="btn-one">Yes</button>
                </div>
                <div class="col-6">
                    <button (click)="close()" type="button" class="btn-one">NO</button>
                </div>
            </div> -->


    </div>
</div>