

.parental-control-content {

    position: relative;
    text-align: center;


    .img-logo img {
        margin-bottom: 20px;
    }

}
.adulttHeading{color: #FFFFFF;font-size: 18px;font-family: "PoppinsBold" !important;}
.close-btn {
    position: absolute;
    top: -10px;
    right: -12px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}

.btn-one {
    color: #fff !important; 
    background-color: none !important;
    /* border-color: #858585 !important; */
    border: 1px solid #858585;
    padding: 13px;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    font-size: 19px;
    width: 100%;
}