<div class="container content-inner-wrapper text-center py-5">
    <div class="py-5">
    <img src="./assets/svgs/404.svg" alt="" srcset="" class="img-404 mb-2">
    <h1 class="h1-404 mb-2">
        <!-- SORRY, THE PAGE NOT FOUND -->
    {{'page_not_found'|translate}}
    </h1>
    <h2 class="mb-2 we-404">
        <!-- We were unable to find that page. -->
    {{'unable_to_find_that_page'|translate}}
    </h2>
    <p style="font-size: 17px; font-weight: 600;">
        <!-- Please go to the AOL home page by clicking  -->
{{'go_to_home_by_clicking'|translate}}

        <a routerLink="/"
            class="color-red text-uppercase link" style="color: red; text-decoration: underline;
    ">{{'title_home'|translate}}</a></p>
</div>
</div>
