<div class="sec-top">
    <h1 class="f-size_aol">
        <span class="mr-3 arrow-right">
            <img src="assets/svgs/Vector (4).png" style="cursor: pointer" class="arr-icon" (click)="back()" alt="AOL"
                aria-hidden="false" class="f-size" /> </span>E-book
    </h1>
    <div class="container">
        <div id="toc-container">
            <div class="table-of-contents">
                <div class="toc-toggle">
                    <span>Table of contents</span>
                </div>
                <div class="ebook-line">
                </div>
                <div id="navigation" class="toc-list">
                    <div id="toc"></div>
                </div>
            </div>
        </div>

        <div id="main" class="">
            <div id="viewer" class="">
                <a href="prev" class="arrow prev" id="prev"><img
                        src="assets/img/ion_chevron-backword-circle-outline.svg"></a>
                <a href="next" class="arrow next" id="next"><img
                        src="assets/img/ion_chevron-forward-circle-outline.svg"></a>
            </div>
        </div>


    </div>
</div>