<div class="alt-login-content">
    <div class="alt-login-img" *ngIf="baseJson.create_password.logo.is_allow == 1">
        <img src="{{baseJson.create_password.logo.web}}" alt="">
    </div>
    <h3 class="createPassword " *ngIf="baseJson.create_password.heading.is_allow == 1">
        <!-- {{baseJson.create_password.heading.text |translate}} -->
    {{'Create_password'|translate}}
    </h3>
    <hr>
    <span (click)="onNoClick()" class="close-btn">
        <img src="assets/svgs/Vector.svg" alt="closeButton">
    </span>
    <p *ngIf="baseJson.create_password.description.is_allow == 1" class="password">
        <!-- {{baseJson.create_password.description.text |translate}} -->
    {{'Create_password' |translate}}
    </p>
    <p *ngIf="msgErrorADD" style="color:red;text-align: center;">{{msgError |translate}}</p>
    <form [formGroup]="emailLoginForm" #emailLoginFormDir="ngForm" (ngSubmit)="onSubmitEmailLogin()">
        <div class="formField gap-aol">
            <mat-label style="color:white !important ;" *ngIf="userIdPassword=='changePassword'">{{'old_password' |translate}}</mat-label>
            <div class="create_pwd" *ngIf="userIdPassword=='changePassword'">
                <span (click)="showPassword(input)" class="showBtn"><img [hidden]="showpassword"
                        src="{{baseJson.create_password.new_password.invisible_web}}">
                    <img [hidden]="!showpassword" src="{{baseJson.create_password.new_password.visible_tv}}">
                </span>
                <input type="password" class="aol-in" autofocus #input
                    placeholder="{{'Enter_password' |translate}}" formControlName="old_pwd"
                    autocomplete="new-password" required >
                <div *ngIf="emailLoginForm.controls['old_pwd'].invalid && emailLoginFormDir.submitted" class="create_pwd_err">
                    <!-- Please enter your old password  (key is added to the translation service) -->
                     {{'please_enter_your_old_password ' |translate}}
                </div>

            </div>
            <mat-label style="color:white !important ;"
                *ngIf="baseJson.create_password.new_password.is_allow == 1">{{'Create_password' | translate}}</mat-label>
            <div *ngIf="baseJson.create_password.new_password.is_allow == 1" class="create_pwd">
                <span (click)="showPassword(input)" class="showBtn"><img [hidden]="showpassword"
                        src="{{baseJson.create_password.new_password.invisible_web}}">
                    <img [hidden]="!showpassword" src="{{baseJson.create_password.new_password.visible_tv}}">
                </span>
                <input type="password" class="aol-in" autofocus #input
                    placeholder="{{'Enter_password' |translate}}" formControlName="password"
                    autocomplete="new-password" required minlength="8" maxlength="16"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$" (input)="changeValue($event)">
                <div *ngIf="!invalidCode" class="create_pwd_err">
                    <div
                        *ngIf="emailLoginForm.controls['password'].invalid && (emailLoginForm.controls['password'].touched || emailLoginForm.controls['password'].dirty)">

                        <div *ngIf="emailLoginForm.controls['password'].hasError('required'); else minLengthElem;">
                            <!-- {{errorMsg.messageSignUpPasswordError | translate}} -->
                             {{'please_enter_password' |translate}}
                        </div>
                        <ng-template #minLengthElem>
                            <div *ngIf="emailLoginForm.controls['password']?.errors?.['minlength']; else patternElem;">
                                {{'passwordLengthError' |translate}}
                            </div>
                        </ng-template>
                        <ng-template #patternElem>
                            <div *ngIf="emailLoginForm.controls['password'].hasError('pattern')">
                                {{'passwordPolicyError' |translate}}
                            </div>
                        </ng-template>
                    </div>
                    <!-- <span *ngIf="submitted==false">Please Enter Password</span>
                    <div *ngIf="emailLoginForm.controls['password'].errors" >
                        
                        <span *ngIf="emailLoginForm.controls['password'].errors['minlength']">
                            Password must be min 8 character and should atleast contain one uppercase, one lower case, one special character and one number
                        </span>
                       
                    </div> -->
                </div>
            </div>
            <mat-label style="color:white !important ;"
                *ngIf="baseJson.create_password.confirm_password.is_allow == 1">{{'confirm_password' |translate}}</mat-label>
            <div *ngIf="baseJson.create_password.confirm_password.is_allow == 1" class="create_pwd">
                <span (click)="showPassword1(input1)" class="showBtn"><img [hidden]="showpassword1" width="20px"
                        height="20px" src="{{baseJson.create_password.confirm_password.invisible_web}}">
                    <img width="20px" height="20px" [hidden]="!showpassword1"
                        src="{{baseJson.create_password.confirm_password.visible_tv}}">
                </span>
                <input type="password" class="aol-in" autofocus #input1 placeholder="{{'confirm_password' |translate}}"
                    (input)="changeValue($event)" formControlName="confirm_password" autocomplete="new-password"
                    required minlength="8" maxlength="16"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$">


                <div *ngIf="!invalidCode" class="create_pwd_err">
                    <!-- <span *ngIf="submitted==false">Please Enter Confirm
                        Password</span>
                    <div *ngIf="emailLoginForm.controls['confirm_password'].errors" >
                        
                        <span *ngIf="emailLoginForm.controls['confirm_password'].errors['minlength']">
                            Password must be min 8 character and should atleast contain one uppercase, one lower case, one special character and one number
                        </span>
                    </div> -->
                    <div
                        *ngIf="emailLoginForm.controls['confirm_password'].invalid && (emailLoginForm.controls['confirm_password'].touched || emailLoginForm.controls['confirm_password'].dirty)">

                        <div
                            *ngIf="emailLoginForm.controls['confirm_password'].hasError('required'); else minLengthElem;">
                            {{'messageSignUpConfirmPasswordError' |translate}}
                        </div>
                        <ng-template #minLengthElem>
                            <div
                                *ngIf="emailLoginForm.controls['confirm_password']?.errors?.['minlength']; else patternElem;">
                                {{'passwordLengthError' |translate}}
                            </div>
                        </ng-template>
                        <ng-template #patternElem>
                            <div *ngIf="emailLoginForm.controls['confirm_password'].hasError('pattern')">
                                {{'passwordPolicyError' |translate}}
                            </div>
                        </ng-template>
                    </div>

                </div>

            </div>
            <div class="invalid-error mb-3" *ngIf="invalidCode">
                <!-- {{errorMsg.passwordMatchError}} -->
{{'passwords_do_not_match'|translate}}
            </div>
            <app-password-strength [passwordToCheck]="emailLoginForm.value.confirm_password" *ngIf="!invalidCode"
                (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength>
        </div>
        <div class="my-3" style="width:100%; display: flex; justify-content:center;">
            <button type="submit" class="aol-btn-p alt-w-50"
                *ngIf="baseJson.create_password.submit_btn.is_allow == 1">{{'submit' |translate}}</button>
        </div>
    </form>







</div>