.showBtn {
    width: 6%;
    position: absolute;
    right: 12px;
    top:8px;
}
.alt-login-content {
    position: relative;
   
    .alt-login-img {
        text-align: center;
    }
 
}

.alt-login-img  img{
    width: 30%;
    margin-top: -10px;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1.5px solid rgb(232 223 223 / 10%);

}

.showBtnEmail {
    position: absolute;
    right: 0;
}

mat-icon {
    color: #B4B4B4;
    cursor: pointer;
    font-size:35px !important;
  }

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .1s;
    color: white;

    &:hover {
        transform: scale(1.1);
        transition: .1s;

    }
}


.createPassword {
    text-align: center;
    margin: 8px;
    font-family: "PoppinsRegular" !important;
    display: flex !important;
    justify-content: center;
    font-size: 18px !important;
    letter-spacing: 0px !important;
    color: #FFFFFF !important;
    position: relative;
    top: 6px;
}

.password {
    text-align: center;
    font-size:11px;
    font-family: 'PoppinsRegular' !important;
   
    letter-spacing: 0px;
      color: #DEDEDE !important;
     opacity: 1;
     margin-top: -8px;
}
.invalid-error{
   color:#FF8484; 
   font-size: 13px;
   margin-top: -22px;
}



.mat-form-field{
    margin-bottom: 12px !important;
}
.aol-btn-p{
    font-family: "PoppinsRegular";
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    background: #FF8731;
    border: 0;
    color: #ffffff;
    padding: 8px 20px;
    width: 100% !important;
    text-align: center;
    border-radius: 6px;
    font-weight: 700;
}
.form-Fields{
    margin: 0 auto !important;
    justify-content: center;
    width:70% ;
}

.aol-in{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    background: transparent;
    border: 1px solid #fff;
    color: white;
    // margin-bottom: 20px;
}

.gap-aol{
    display:flex;
    flex-direction: column;
    gap:12px;
}

.create_pwd{
    margin-bottom: 25px;
    position: relative;
}

.create_pwd_err{
    position: absolute;
    line-height: 10px;
    color: #FF8731;
    font-size: 10px;
    margin-top: 3px;
}

mat-label{
    font-size: 14px;
}


@media screen and (max-width:1366px) {
    .create_pwd_err{
        position: absolute;
        line-height: 9px;
        color: #FF8731;
        font-size: 11px;
        margin-top: 3px;
    }

    .create_pwd{
        margin-bottom: 19px;
    }

    .createPassword{
        margin: 8px;
        font-size: 16px;
    }

    .password {
        font-size: 11px;
    }

    mat-label{
        font-size: 12px;
    }
    .aol-btn-p{
        font-size: 14px;
        line-height: 22px;
    }
}