// 

// .main-sing {
//     display: flex;
//     align-items: center;
// }

.content-singer {
    width: 100%;
    // padding: 15px 40px;
    cursor: pointer;
}
.content-singer-1 {
    width: 100%;
    // padding: 15px 40px;
    cursor: pointer;
    margin: auto;
  
}

.content-singer p {
    color: #cccc;
    // padding-left: 5px;
    margin-top: 5px;

    
}



.content-singer-1 p {
    color: #cccc;
    // padding-left: 5px;
    margin-top: 5px;
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
}

.vande-singer {
    width: 30%;
}

.vande-singer-album {
    width: 30%;
    cursor: pointer;
}

.vande-singer img {
    border-radius: 50%;
    cursor: pointer;
}

.like_aol {
    display: flex;
}

.shares img {
    width: 30px;
    margin-left: 11px;
    position: relative;
    left: -5px;
}

.shares-1 img {
    width: 22px;
    margin-left: 11px;
    position: relative;
    left: -5px;
}

.sing-hr {
    border: 1px solid #27253D;
    margin: 0;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ablum-head h1 {
    font-family: "PoppinsRegular";
    font-size: 22px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;

}

.popular-singer {
    font-family: "PoppinsRegular";
    height: calc(var(--vh, 1vh) * 100);
    background: url(/assets/img/AOL_white.svg), linear-gradient(0deg, #100E22, #100E22);
    background-repeat: no-repeat;
    background-position: center;
}

.scroll-singer {
    overflow-y: scroll;
    height: 100vh;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}

::-webkit-scrollbar {
  width: 3px !important;
  height: 5px !important;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar {
    width: 3px !important;
    height: 5px !important;
  }
  
   ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  
.like_img {
    width: 35px;
}


.like_img1 {
    width: 30px;
}


.eye_head {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: auto;
}

.head_like {
    display: flex;
    align-items: center;
}

.aol_like_dis {
    display: flex;
    gap: 12px;
}


.heart_img img {
    width: 23px;
}

.heart_unfilled img {
    width: 23px;
}

.eye_view img {
    width: 25px;
}



.like_count div {
    font-family: "PoppinsRegular";
    font-size: 15px;
    font-weight: 500;
    min-width: 20px;
    max-width: fit-content;
    height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.see_count div {
    font-family: "PoppinsRegular";
    font-size: 15px;
    font-weight: 500;
    // line-height: 23px;
    letter-spacing: 0em;
    min-width: 20px;
    max-width: fit-content;
    height: 20px;
    text-align: center;
}


@media screen and (max-width:992px) {

    .ablum-head h1 {
        font-size: 17px;
    }

    .sing-hr{
        display: none;
    }

    .ablum-head h1{
        margin-top: 20px;
    }

    .content-singer h1 {
        font-size: 14px;
        line-height: 20px;
        margin: 0;

    }

    .content-singer h2{
        font-size: 14px;
        line-height: 20px;
        margin: 0;
    }

    .content-singer-1 h1 {
        font-size: 15px;
        line-height: 20px;
        margin: 0;

    }


    .main-sing-1 {
        margin-top: 20px;
        flex-wrap: nowrap;
        margin-bottom: 10px;
    }

    .main-sing-2{
        margin-top: 20px;
        flex-wrap: nowrap;
        border-bottom: 2px solid #27253D;
        padding-bottom: 20px;
    }


    .content-singer {
        width: 100%;
    }


    .sing-hr {
        width: 100%;
    }


    .vande-singer {
        width: 100%;
    }

    .popular-singer{
        background-size: 100% 100%;
    }

    .vande-singer-album{
        width: 100%;
    }

    .scroll-singer {
        overflow-y: scroll;
        height: 100vh;
    }
    
    // .scroll-singer {
    //     // overflow-y: unset;
    //     // height: unset;
    // }
    



}

.heart_filled {
    display: none;
}

.heart_unfilled {
    display: none;
}